<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>registrace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <center style="color: red;">{{ error }}</center>
    <br><br>
    <form method="post" onsubmit="return false;">
        <span><span style="color: red;">*</span> přezdívka</span><br>
        <input id="nick" name="nick" type="text"><br><br>

        <span><span style="color: red;">*</span> umíš plavat?</span><br>
        <input type="radio" name="je_plavec" value="1">
        <span>ANO</span><br>
        <input type="radio" name="je_plavec" value="0">
        <span>NE</span><br><br>

        <span>s kým bys chtěl být na lodi?</span><br>
        <input id="kanoe_kamarad" name="kanoe_kamarad" type="text"><br><br>

        <button id="submit" style="padding: 0.1em; cursor: pointer;">odeslat</button>
        <a href="{{ url_for('root') }}" style="">zpět</a>
    </form>

    <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
    <script>
        document.querySelector("#submit").addEventListener("click", (e) => {
            $.ajax({
                url: "{{ url_for('static', filename='kamaradi.txt') }}",
                success: function (result) {
                    let json = JSON.parse(result);
                    for (const key in json) {
                        if (json[key]["nick"] == document.querySelector("#nick").value) {
                            return;
                        }
                    }

                    $.ajax({
                        url: "{{ url_for('register') }}",
                        method: "POST",
                        data: {
                            "nick": document.querySelector("#nick").value,
                            "je_plavec": document.querySelector('input[name="je_plavec"]:checked').value,
                            "kanoe_kamarad": document.querySelector("#kanoe_kamarad").value,
                        },
                        success: function (result) {
                            alert("registrace hotova!");
                        }
                    });
                }
            });
        });
    </script>

    <style>
        a {
            text-decoration: none;
            color: #e8e6e3;
        }

        form {
            position: absolute;
            left: 50%;
            top: 35%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</body>

</html>